<%- include('./includes/header.ejs') %>
<!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>

    <main>
        <h1>Welcome to your Dashboard</h1>
    </main>
    <%- include('./includes/footer.ejs') %>