<%- include('./includes/header.ejs') %>
<!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>

    <main>
        <h1>Login</h1>
        <%=errorMessage%>
        <form action="/login" method="POST">
            <div>
                <input placeholder="username" name="username" />
            </div>
            <div>
                <input placeholder="Password" name="password" />
            </div>

            <button type="submit">Loin</button>

        </form>
    </main>
    <%- include('./includes/footer.ejs') %>